.container{
    background-color: rgb(124, 122, 122);
}
.maincontent{
    display: flex;
    margin: 0px auto;
    max-width: 1140px;
}
.maincontent-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 100%; */
    /* height: 100%; */
    /* height: 25em; */
    /* max-height: 200px; */
    padding: 2rem;
    /* background-color: blueviolet;     */
    /* justify-items: center; */
    justify-content: center;
    /* align-items: center;     */
}
.crop-text p{

        display: -webkit-box;
        /* max-width: 200px; */
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    
}
.maincontent-image {
    display: flex;
    width: 50%;
    height: 100%;   
    padding: 2rem;
    /* justify-content: center; */
    justify-items: center;
    /* background-color: cadetblue; */
    
}

.maincontent-image img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}