.container{
    background-color: rgb(124, 122, 122);
}
.maincontent{
    display: flex;
    margin: 0px auto;
    max-width: 1140px;
}
.maincontent-info{
    width: 100%;
    padding: 2rem;
    /* background-color: aqua; */
}
.maincontent-image {

    width: 100%;
    padding: 2rem;
    
}

.maincontent-image img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}