.card 
{
    
    max-width: 330px;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 1rem;
    /* background-color: blue; */
    /* margin: 1em  ; */

}
  
.cardImage
{
    width: 15vw;
    height: 15vw;
    padding: 5px;
    background-color: gray;
}
.card img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

