*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.app-grid{
    /* width: 1140px; */
    /* background-color: bisque; */
}

.grid-content{
    /* width: 50%; */
    /* margin: 0 auto; */
    padding-top: 1em;
    
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    /* grid-auto-rows: auto; */
    /* grid-gap: 10px; */
    
    /* grid-auto-rows: 100px; */
    /* justify-content: space-between; */

}