*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.app-grid{
    align-items: center;
}

.grid-content{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}